@import url('https://fonts.googleapis.com/css?family=Kalam|Merriweather|PT+Serif|Playfair+Display|Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Courgette');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: url(../images/GameBack.jpeg) no-repeat center center;
    background-size: cover; 
}

div#GameTop{
    font-size: 20px;
    text-align: center;
    color:whitesmoke;
    font-family: 'Merriweather', serif;
}

.ButtonPositon{
    width: 100%;
    height: 200px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.betAmount{
    display:block;
    text-aline:center;
    color:white;
    font-family: 'Merriweather', serif;
}


.betMoneyInput{
    width:70px;
    height:30px;
    background-color:gold;
    font-family: 'Merriweather', serif; 
    font-weight: bolder;
    font-size: 16px;
}

.ButtonFormat2{
    border-radius:50%;
    background:black;
    color:white;
    padding: 35px 35px 35px 35px;
    font-size:30px;
    font-family: sans-serif;
    font-weight:bold;
    -webkit-transition:all linear 0.30s;
    -moz-transition:all linear 0.30s;
    transition:all linear 0.30s;
}

.ButtonFormat1{
    border-radius:5px;
    background:wheat;
    color:black;
    padding: 15px 15px 15px 15px;
    font-size:25px;
    font-family: sans-serif;
    font-weight:bold;
    -webkit-transition:all linear 0.30s;
    -moz-transition:all linear 0.30s;
    transition:all linear 0.30s;
}

button#roll{
position:absolute;
right:-100px;
}

section {
    height: auto;
    position:relative;
}

div#WelcomeTop{
    background: url(../images/casino_opengraph_en.jpg) no-repeat center center;
    background-size: cover; 
    height: 360px;

}

div#ThreeGame {
    background: url(../images/backimage3.jpg) no-repeat center center;
    background-size: cover; 
    height: auto;
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding:0 0 0 0;
}


#operation {
    width: 100%;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}
#area1{
    padding-right: 30%;
    width:300px;
    float:left; 

}
#area2{
    padding-left: 30%;
    width:300px;
    float:right; 
}     


