@import url('https://fonts.googleapis.com/css?family=Karla');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:black; 

}

h1,h2{
 color:white;   
}
section {
    height: auto;
    position:relative;
}

div#WelcomeTop{
    padding-top: 50px;
    background: url(../images/casino_opengraph_en.jpg) no-repeat center center;
    background-size: cover; 
    height: 200px;    
}

div#ThreeGame {
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding:0 0 0 0;
}

.Game{

    width:300px;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin:0px;    
}
p#rules1{
    font-size: 15px;
    text-align: center;
    color:white;
    font-family: 'Karla', sans-serif;
}
p#rules2{
    font-size: 22px;
    text-align: center;
    color:white;
    font-family: 'Merriweather', serif;
}

p#rules3{
    font-size: 25px;
    text-align: center;
    color:white;
    font-family: 'Merriweather', serif;
}
.buttonPositon{
    width: 100%;
    height: 200px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.ButtonFormat1{
    border-radius:5px;
    background:wheat;
    color:black;
    padding: 15px 15px 15px 15px;
    font-size:25px;
    font-family: sans-serif;
    font-weight:bold;
    -webkit-transition:all linear 0.30s;
    -moz-transition:all linear 0.30s;
    transition:all linear 0.30s;
}
