<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
<!--    This page is shown when the customer lose all the money-->
    
    <head>
        <title>EndPage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="styles/game.css" type="text/css"/> 
    </head>
    <body>
        <h1>#{msgs.end1}</h1>
        <h2>#{msgs.end2}</h2>
        <h2>#{msgs.end3}</h2>
            <p>
                <h:form>
                <h:commandButton value="#{msgs.playagain}" class="ButtonFormat1" action="welcome"/>
                </h:form>
            </p>        
    </body>
</html>
