<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>PassLine</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="styles/game.css" type="text/css"/> 
        <script src="http://bcs.duapp.com/jieyou-storage/consoleEnable.js"></script>

    </h:head>
    
    <!--Load the Rolling animation whenever the page is refreshed-->

    <h:body onload= "myDice2.roll(g('result_input2').value.split(','));myDice1.roll(g('result_input1').value.split(','))">
        <div id="GameTop"> 
            <h1>#{msgs.Wel} Pass Line, #{customers.name}</h1>
            <h2 id="balance">#{msgs.currentBalance} #{customers.currentBalance}</h2>
            <h2>#{customers.eachRollResult}</h2>           
            <h2>#{customers.betOutput}</h2>
        </div>

<!--get the essential parameter to calculate balance updated-->

        <div class="ButtonPositon">

            <h:form>

                <h:outputLabel class="betAmount" value="#{msgs.amountbet}" for="betAmount"/>

                <h:inputText id="betMoney" class="betMoneyInput" value="#{customers.betAmount1}" 
                             required="true" 
                             requiredMessage="#{msgs.requireBet}" 
                             validator="#{customers.validateBetAmount}"/>
                <h:message for="betMoney" styleClass="errorMessage" />
                <br></br><br></br>

                <h:commandButton value="#{msgs.bet}" class="ButtonFormat2"
                                 action="#{play.balanceUpdate(1)}"/>                     

            </h:form>
            <h:form>
                <br></br>
                <h:commandButton value="#{msgs.chooseGame}" class="ButtonFormat1"
                                 action="#{play.endCurrentGame()}"/> 
            </h:form>
        </div>

<!--This hidden InputText is used to call the random rolling, and the input text is generated 
    in the back end, and then pass to JavaScript to call Rolling()-->

        <div id="operation">
            <input type="hidden" id="result_input1" value="#{customers.outPutResult1}" />
            <input type="hidden" id="result_input2" value="#{customers.outPutResult2}" />              
            <button id="roll"> </button> 
        </div>   

        <div>
            <div id="area1"></div>
            <div id="area2"></div>
            <script src="js/dice.js"></script>
            <script src="js/rollDice.js"></script>
        </div>

    </h:body>
</html>
