<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>PlayPage</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="styles/PlayPageStyle.css" type="text/css"/> 
        <script src="http://bcs.duapp.com/jieyou-storage/consoleEnable.js"></script>

    </h:head>

<!--    In the play page, three game is shown, and the customer can choose one to play, also, 
    the rules is shown here. Every button would guide the customer to the game play page.
    -->
    
    <h:body>

        <div id = "WelcomeTop"> 
            <h1>#{msgs.choose}</h1>
            <h2>#{msgs.intitialBalance} #{customers.initialBalance}</h2>
            <h2>#{msgs.currentBalance} #{customers.currentBalance}</h2>

        </div>

        <div id = "ThreeGame"> 
            <section class="Game">
                <p id="rules1">#{msgs.rulePassLine}</p>    
                <h:form>

                    <div class="buttonPositon">
                        <h:commandButton class="ButtonFormat1"
                                         value="#{msgs.play}"
                                         action="PassLine"/>
                    </div>
                </h:form>
            </section>


            <section class="Game">
                <p id="rules2">#{msgs.ruleFieldBet}</p>
                <h:form>

                    <div class="buttonPositon">
                        <h:commandButton class="ButtonFormat1"
                                         value="#{msgs.play}"
                                         action="FieldBet"/>
                    </div>
                </h:form>
            </section>


            <section class="Game">
                <p id="rules3">#{msgs.ruleAnySeven}</p>
                <h:form>

                    <div class="buttonPositon">
                        <h:commandButton class="ButtonFormat1"
                                         value="#{msgs.play}"
                                         action="AnySeven"/>
                    </div>
                </h:form>
            </section>
            <div class="buttonPositon">
            <h:form>
                <h:commandButton value="#{msgs.logout}" class="ButtonFormat1"
                                 action="welcome"/>
            </h:form>
            </div>
        </div>        
    </h:body>
</html>
