<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>PointPage</title>
        <meta charset="utf-8"></meta>
        <link rel="stylesheet" href="styles/game.css" type="text/css"/> 
        <script src="http://bcs.duapp.com/jieyou-storage/consoleEnable.js"></script>

    </h:head>
<!--    
    In the PassLine game, the page is shown when the customer roll the point.-->

    <h:body onload= "myDice2.roll(g('result_input2').value.split(','));myDice1.roll(g('result_input1').value.split(','))">
        <div id="GameTop"> 
            <h1>#{megs.Pointpage}</h1>
            <h2>#{msgs.pointPageInstruction} #{customers.point}</h2>
            <h2>#{customers.eachRollResult}</h2>           
        </div>
        
        <div class="ButtonPositon">
 
            <h:form>

                <br></br><br></br>
               
                <h:commandButton value="#{msgs.bet}" class="ButtonFormat2"
                                     action="#{play.PassLinePoint()}"/>                     
                
            </h:form> 
        </div>
          
            <div id="operation">
                <input type="hidden" id="result_input1" value="#{customers.outPutResult1}" />
                <input type="hidden" id="result_input2" value="#{customers.outPutResult2}" />              
                <button id="roll"> </button> 
            </div>   
        
            <div>
            <div id="area1"></div>
            <div id="area2"></div>
            <script src="js/dice.js"></script>
            <script src="js/rollDice.js"></script>
            </div>
               
    </h:body>
</html>


