<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"></meta>
        <title>LogInPage</title>
        <link rel="stylesheet" href="styles/styles.css" type="text/css"/>
    </h:head>
    
<!--    The customes should input the name, Email can initial bankroll to play.-->
    
    
    <h:body>


        <div class="container">

            <div class="main">

                <div class="sideleft">
                    <h1>#{msgs.welcome}</h1>
                    <br></br><br></br><br></br>
                    <h4>#{msgs.advertisments1}</h4>
                    <br></br><br></br><br></br>
                    <p>#{msgs.advertisments2}</p>
                    <p>#{msgs.advertisments3}</p>
                    <p>#{msgs.advertisments4}</p>
                    <p>#{msgs.advertisments5}</p>
                    <br></br><br></br>
                    <h2>#{msgs.age}</h2>
                    

                </div>

                <div class="sideright">
                    <div class="index">
                        <h:form>
                            <p class="headline">#{msgs.login}</p>


                            <p class="astyle">#{msgs.fullname}</p>
                            <h:inputText value="#{customers.name}" id="inputName" required="true" requiredMessage="#{msgs.requireName}"/>
                            <h:message for="inputName" styleClass="errorMessage" />

                            <p class="astyle">#{msgs.Email}</p>
                            <h:inputText value="#{customers.mail}" id="inputEmail" required="true" requiredMessage="#{msgs.requireEmail}"/>
                            <h:message for="inputEmail" styleClass="errorMessage" />
                            
                            <p class="astyle">#{msgs.bankroll}</p>
                            <h:inputText value="#{customers.initialBalance}" id="betAmount" required="true" requiredMessage="#{msgs.requireBankroll}" validator="#{customers.validateInitalAmount}"/>
                            <h:message for="betAmount" styleClass="errorMessage" />
                            
                            <h:commandButton value="#{msgs.start}"
                                             action="#{play.setInitialBalanceUpdate()}"/>
                            <br></br>                         

                        </h:form>

                        <h:form class="cstyle"> 
                        <div id="language">
                         <p >#{msgs.language}</p>
                        </div>   
                            <h:commandLink immediate="true" actionListener="#{localeChoose.changeLocale}">
                                <f:param name="languageCode" value="fr_CA" />
                                <h:graphicImage url="/images/ca_flag.gif"
                                                style="border: 0px; margin-right: 1em;" />
                            </h:commandLink>
                            <h:commandLink immediate="true" actionListener="#{localeChoose.changeLocale}">
                                <f:param name="languageCode" value="en_CA" />
                                <h:graphicImage url="/images/en_flag.gif"
                                                style="border: 0px" />
                            </h:commandLink>
                        </h:form>
                        
                    </div>

                </div>
            </div>


            <div class="footer">
                <ul>

                    <li><a href="#">Hexiao Zhang</a></li>
                    <li><a href="#">Java Web Project</a></li>
                    <li><a href="#">Concordia University Continue Education</a></li>
                    <li><a href="#"></a>#{msgs.CopyrightReserved}</li>
                </ul>

            </div>

        </div>
    </h:body>
</html>